 /*
    Document   : custom
    Created on : Dec 23, 2010, 5:47:16 PM
    Author     : danjoo
    Description:
        Purpose of the stylesheet follows.
*/

.header {
  text-align: center;
  margin-bottom: 10px;
}

.container {
}

.footer {
  text-align: center;
  margin-top: 8ex;
  margin-left: auto;
  margin-right: auto;
  font-family: "Century Gothic", "sans-serif";
  color: #888888;
  font-size: 40%;
}

body {
  background: #fff;
}


h1 {
  font-size: 85%;
  color: #888888;
}

.about {
}

.contact, .contact img{
  font-size: 80%;
  font-family: "Century Gothic", "sans-serif";
  text-align: center;
  vertical-align:text-bottom;
}

.signature {
  font-size: 65%;
  font-family: "Century Gothic", "sans-serif";
  text-align: center;
  vertical-align:text-bottom;
}

.verbage,.verbage img {
  font-size: 80%;
/*  font-family: 'Times New Roman', "serif";*/
  font-family: "Century Gothic", "sans-serif";
  text-align: left;
  vertical-align:text-bottom;
  margin-left: 5ex;
  margin-top: 4.5ex;
}





/* Image */
img {
  border-style: none;
}

.list img {
  border: 1px solid #021a40;
  height: 15%;
  width:  15%;
}

/* Navigation Links */

.nav {
  float: none;
  background-color: white;
  /* padding: 0 0.7em; */
  border-style: none;
  white-space: nowrap;
}

.nav a {
  /* color: #09c; */
  text-decoration: none;
}

.nav a:hover {
  /* color: #069; */
  text-decoration: underline;
}

.nav a:visited {
  /* color: #069; */
  text-decoration: none;
}

/* Links */

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: black;
}


/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}



/* table */
section .table {
  text-align:center;
  border-width: 1px;
}





#loopedslider {
  margin:0 auto;
  width:675px;
  position:relative;
  clear:both;
}

.slide_container {
/*    width:800px;*/
  height:450px;
  overflow:hidden;
  position:relative;
  text-align: center;
}

.slides {
  position:absolute;
  top:0;
  left:0;
}
.slides > div {
  position:absolute;
  top:0;
  width:675px;
  display:none;
}

.pagination_container {
  text-align: center;
  margin-top: 10px;
  font-size: 70%;
	word-spacing: 8px;
  font-family: "Century Gothic", "sans-serif";
}

ul.pagination {
  list-style:none;
  padding:0;
  margin:0;
  display: inline;
}
ul.pagination li  {
  display: inline;
}
ul.pagination li a {
  vertical-align:text-top;
}
ul.pagination li.active a {
  color: #888888;
  text-decoration:underline;	
}