 /*
    Document   : custom
    Created on : Dec 23, 2010, 5:47:16 PM
    Author     : danjoo
    Description:
        Purpose of the stylesheet follows.
*/

.container {
}

header {
  text-align: center;
}

body {
  background: #fff;
  text-align: center;
}

section {
  color: #333333;
  height: 500px;
  font-family: "Century Gothic", "sans-serif";
}

section h1 {
  font-size: 85%;
  color: #888888;
}

section .about {
}

section .contact {
}

section .verbage {
  font-size: 80%;
}

footer {
  text-align: center;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}



/* Image */
img {
  border-style: none;
}


/* Navigation Links */

nav {
  float: none;
  background-color: white;
  /* padding: 0 0.7em; */
  border-style: none;
  white-space: nowrap;
}

nav a {
  /* color: #09c; */
  text-decoration: none;
}

nav a:hover {
  /* color: #069; */
  text-decoration: underline;
}

nav a:visited {
  /* color: #069; */
  text-decoration: none;
}

/* Links */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}


/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}



/* table */
section .table {
  text-align:center;
  border-width: 1px;
}