<div class="about">

<div class ="verbage">
Haerfest plants ideas. Cultivated to take on forms unexpected, yet familiar.<p />
By researching materials, balancing proportions and attending to details,<p />
we strive to change conventional aesthetics.
</div>

<br />

<div class="verbage"">
Haerfest follows a reducible aesthetic that sheds needless utilitarian elements <p />
to become modernized basics that age well with continuous use. <p />
</div>

<div class="gallery_nav">
  
</div>

</div>