<div id="slideshow">

  <% image = image_tag("gallery/"+image.path, :alt => "") %>
 
  <% @images.each do |image| %>
    <% if @next_image %>
      <%= link_to "Next", image_path(@next_image) %>
      <%= image_tag("gallery/"+image.path, :alt => "") %>
    <% end %>
  <% end %>

</div>
