<script>

$(document).ready(function() {
  $('div#slideshow img').live('click', function() {
    var has_images = '<%= @has_image %>';
    if( has_images == 1 ) {
      var page = '<%= @next_image.id %>';
      var url = '/images/gallery?page='+page
      window.location.replace(url);
    }
    else {
      var url = '/images/gallery?page=1'
      window.location.replace(url);
    }

  })
})

</script>


<div id="slideshow">

 
  <% @images.each do |image| %>
  <% image = image_tag("gallery/"+image.path, :alt => "") %>
    <% if @next_image %>
      <%# link_to image, image_path(@next_image)  %>
      <%= image %>
    <% else %>
      <%= image %>
    <% end %>
  <% end %>

</div>
