<div id="slideshow">

 
  <% @images.each do |image| %>
  <% image = image_tag("gallery/"+image.path, :alt => "") %>
    <% if @next_image %>
      <%# link_to image, image_path(@next_image)  %>
      <%= image %>
    <% else %>
      <%= image %>
    <% end %>
  <% end %>

</div>
