<header>
  <%= image_tag("logo.png", :alt => "Home", :class => "round") %>
  <nav class="round">
    <%= image_tag("about.png", :alt => "About", :class => "round") %>
    <%= image_tag("dash.png", :alt => "-", :class => "round") %>
    <%= image_tag("contact.png", :alt => "Contact", :class => "round") %>
  </nav>
</header>