<div class="haerfest_pagination">
      <%= will_paginate @images,  :previous_label => '&laquo; ',
                                  :next_label     => '&raquo;',
                                  :params => { :controller => "images",
                                               :action => "gallery" },
                                  :separator      => ' ',
                                  :inner_window   => 4,
                                  :outer_window   => -1           %>
</div>
